* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 12px 0;
  border: 2px solid #ffb700;
  background: transparent;
  color: #fff;
  font-size: 24px;
  border-radius: 8px;
  font-family: monospace;
  width: 300px;
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  height: 64px;
  align-items: center;
  outline: 0;
}

button svg,
button span {
  position: absolute;
  color: #fff;
  fill: transparent;
  font-size: 24px;
}

button:hover {
  font-size: 14px;
}

button:focus {
  outline: 0;
  width: 64px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-left: 2px solid #ffb700;
  animation: spin 2s 500ms forwards;
}
button:focus span {
  color: transparent;
}
button:focus svg {
  animation: bounceIn 500ms 2300ms forwards;
}

@keyframes spin {
  80% {
    border: 2px solid transparent;
    border-left: 2px solid #ffb700;
  }
  100% {
    transform: rotate(1080deg);
    border: 2px solid #ffb700;
  }
}

@keyframes bounceIn {
  to {
    fill: #fff;
  }
}