* {
  padding: 0;
  margin: 0;
}

.parent {
 /* background-repeat: no-repeat ; */
}

.background-color {
  /* background-color: rgba(17, 55, 78, .4);  
  background-image: url(../images/prallex.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-attachment: scroll; */
  background: rgba(17, 55, 78, .4) url(../images/small.png) no-repeat top right scroll ;
  width: 100%;
  height: 400px;
}