.full-width {
  width: 100% !important;
}
.text-center {
  text-align: center;
}
.alert {
  padding: 16px 24px;
  margin-bottom: 16px;
  border-radius: 4px;
  border: 1px solid;
}

.alert-info {
  background-color: rgba(84, 84, 148, 0.349);
  color: blue;
}

.alert-secondary {
  background-color: rgba(221, 221, 221, 0.466);
  color: rgb(104, 104, 104);
}

.alert-success {
  background-color: rgba(0, 93, 0, 0.253);
  color: rgb(0, 88, 0);
}

.alert-error {
  background-color: rgba(255, 0, 0, 0.26);
  color: #ff0000;
}


.card {
  border: 1px solid rgb(110, 110, 110);
  border-radius: 4px;
  width: 250px;
}

.card-body {
  padding: 16px;
}

.btn {
  background-color: blue;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid;
}

.header,
.footer {
  background-color: rgba(221, 221, 221, 0.466);
  padding: 16px;
}


.header {
  border-bottom: 1px solid rgb(110, 110, 110);
}