@font-face {
  font-family: "TajawalRegular";
  src: url('../fonts/Tajawal-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Tajawal-Regular.eot') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Tajawal-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Tajawal-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Tajawal-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

p {
  /* font-family: "TajawalRegular", sans-serif; */
  font-family: 'Cairo', sans-serif;
font-weight: 700;
}